[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.profile
[include]
	path = ~/.gitconfig.local
[credential "https://siempelkamp.ghe.com"]
	provider = github
[core]
	excludesfile = ~/.gitignore_global
