[branch]
	sort = -committerdate
[column]
	ui = auto
[core]
	editor = nvim
[fetch]
	prune = true
	writeCommitGraph = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	updateRefs = true
[rerere]
	enabled = true
[include]
	path = ~/.gitconfig.profile
[include]
	path = ~/.gitconfig.local
[credential "https://siempelkamp.ghe.com"]
	provider = github
[core]
	excludesfile = ~/.gitignore_global
